<div class="l l-body">
  <div id="week" class="l l-paper l-paper--week">
    <week :week="groupGamesByKickoff(week)" :user_id="<%= current_user.id %>"></week>
    <div class="button-group button-group--horizontal">
      <a href="/weeks?week=" class="button button--game-navigation">< WK</a>
      <a href="/weeks?week=" class="button button--game-navigation">WK</a>
      <a href="/weeks?week=" class="button button--game-navigation">WK ></a>
    </div>
  </div>
</div>
