<div class="l l-body">
  <div id="week" class="l l-paper l-paper--week">
    <week :week="groupGamesByKickoff(week)" :user_id="<%= current_user.id %>" :favorite_team_id="loadFavoriteTeamId(<%= current_user.favorite_team.team_id %>)"></week>
    <div class="button-group button-group--horizontal">
      <button v-on:click="goToWeek(getCurrentlyViewedWeek() - 1)" class="button button--game-navigation">< WK</button>
      <button v-on:click="goToWeek()" class="button button--game-navigation">WK</button>
      <button v-on:click="goToWeek(getCurrentlyViewedWeek() + 1)" class="button button--game-navigation">WK ></button>
    </div>
  </div>
</div>
