= link_to('', destroy_user_session_path, method: :delete, class: "button button--sign-out")

- if current_page?('/games')
  .navbar__text.navbar__text--title Picks
  = link_to("", users_path, method: :get, class: "button button--rankings")
- elsif current_page?('/users')
  .navbar__text.navbar__text--title Rankings
  .button.button--rankings
