= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "button button--sign-out")

- if current_page?('/games')
  .navbar__text Picks
  = link_to("Rankings", users_path, method: :get, class: "button button--rankings")
- else
  .navbar__text Rankings
  .button.button--rankings Rankings
