@import 'variables';

/*
 * GAME SELECTION SCREEN
 *

 * Includes the following blocks:
 * - 

 */

// .game
.game {
  // Flex container
  display: flex;
  // Non-flex layout
  width: 100%;
  margin: $padding / 4 0;

  // Elements

  // Modifiers

  // Container
  // .games
  &s {
    // Flex container
    display: flex;
    flex-direction: column;
    align-items: center;


    // Elements
    // .games__text
    &__text {
      font-family: $handegg-text;
      color: $color-dark-blue;
      text-transform: uppercase;
      line-height: 0.75em;

      // Modifiers
      // .games__text--title
      &--title {
        font-size: $fs-extra-large;
        text-align: center;
      }
      // .games__text--gametime
      &--gametime {
        font-size: $fs-medium;
        text-align: center;
      }
    }
  }
}

// .team
.team {
  // Flex container
  display: flex;
  align-items: center;
  // Flex;
  flex: 1 1 0;
  // Non-flex layout
  padding: 0;
  // Styling
  border: $border $color-dark-blue;
  text-decoration: none;
  color: $color-black;

  // Elements
  // .team__logo
  &__logo {
    // Temporary
    background-color: $color-light-gray;
    border-radius: $logo-height / 2;

    img {
      height: $logo-height;
      width: $logo-height;
    }
  }

  // .team__text
  &__text {
    font-family: $handegg-text;
    line-height: 0.75em;

    // .team__text--score
    &--score {
      font-size: $fs-extra-large;
    }
    // .team__text--record
    &--record {
      font-size: $fs-large;
      letter-spacing: -2px;
      white-space: nowrap;
    }
    // .team__text--name
    &--name {
      font-size: $fs-extra-small;
      text-transform: uppercase;
      padding-bottom: $padding / 4;
    }

    // Container
    &-container {
      flex: 1 1 0;
      // .team__text-container--away
      &--away {
        text-align: left;
      }
      // .team__text-container--home
      &--home {
        text-align: right;
      }

    }
  }
  // .team__spacer
  &__spacer { min-width: $padding / 4; }

  .team__logo {
    margin: $padding / 2 - 2px;
  }

  // Modifiers
  // .team--picked
  &--picked {
    border: $border-picked $color-dark-blue;
    .team__logo {
      margin: $padding / 4;
    }
  }
  // .team--correct-pick
  &--correct-pick { background-color: $color-yellow; }
  // .team--incorrect-pick
  &--incorrect-pick { background-color: $color-neutral-gray; }
}

// .navbar
.navbar {

  // Elements
  &__text {
    // Flex
    flex: 1;
    // Non-flex layout
    line-height: 0.75em;
    padding: 0 $padding / 2;
    // Styling
    text-align: center;
    color: $color-dark-blue;

    // Modifiers
    // .navbar__text--title
    &--title {
      font-family: $extra-condensed-text;
      font-size: $fs-extra-large;
    }
    // .navbar__text--subtitle
    &--subtitle {
      font-family: $extra-condensed-text;
      font-size: $fs-extra-small;
    }

    // Container
    // .navbar__texts
    &s {
      // Flex container
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // Flex
      flex: 1;
    }
  }
}

// .button-group
.button-group {
  display: flex;

  // Modifiers
  // .button-group--horizontal
  &--horizontal {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  // .button-group--vertical
  &--vertical {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  // .button-group--sign-in
  &--sign-in {
    padding-top: $padding / 2;
  }
}

// .button
.button {
  // Non-flex layout
  height: $button-height;
  padding: $button-padding $padding / 2;
  // Styling
  // Font-size needs to stay the same
  font-size: $fs-medium;
  line-height: 0.75em;
  white-space: nowrap;
  color: $color-black;
  background-color: $color-white;
  text-decoration: none;
  border: $border $color-dark-blue;

  // Modifiers
  // .button--game-navigation
  &--game-navigation {
    font-family: $extra-condensed-text;
  }
  // .button--app-navigation
  &--app-navigation {
    font-family: $app-text;
  }
  // .button--sign-out
  &--sign-out {
    width: $button-height;
    border-radius: $button-height / 2;
    background-image: image-url("Sign_out.png");
    background-size: contain;
  }
  // .button--rankings
  &--rankings {
    width: $button-height;
    border-radius: $button-height / 2;
    background-image: image-url("Rankings.png");
    background-size: contain;
  }

}