@import 'variables';

/*
 * RANKINGS SCREEN
 *

 * Includes the following blocks:
 * - 

 */

// .user
.user {
  // Flex container
  display: flex;
  justify-content: space-between;

  &:first-of-type {

    // Non-flex layout
    margin: $padding 0;
    padding-bottom: $padding;
    // Styling
    border-bottom: $border $color-yellow;
    div {
      font-size: $fs-mega-large;
    }
  }
  &:not(:first-of-type),
  &:last-of-type {

    // Non-flex layout
    margin: $padding / 4 0;
    padding-bottom: $padding / 2;
    // Styling
    border: none;
  }

  // Elements
  // .user__text
  &__text {
    font-family: $condensed-text;
    font-size: $fs-large;
    color: $color-dark-blue;
    line-height: 0.75em;

    // Modifiers
    // .user__text--leader
    &--leader {
      font-size: $fs-extra-large;
    }
    // .user__text--score
    &--score {
      font-family: $app-text;
    }
  }
  // Modifiers

  // Container
  // .users
  &s {
    // Flex container
    display: flex;
    flex-direction: column;
    align-content: center;

    // Elements
  }
}